/* Estilos Generales */

.main-container {
  margin: 10px;
}

body {
  padding-bottom: 50px;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(55,216,67,1) 100%, rgba(0,212,255,1) 100%);
}


/* Animaciones */

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.active{
  color: white !important;
}

.fadeIn {
  animation-name: fadeIn;
}

.btn {
  flex: 1 1 auto;
  padding: 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  border: 1px solid #09a330 !important;
  width: 100%;
}

.btn-4 {
  background-image: linear-gradient(to right, #a0d080 0%, #c9fbc2 51%, #09a330 100%);
}

.btn:hover {
  background-position: right center;
  /* change the direction of the change here */
}

.footer {
  width: 100%;
  color: white;
}

.footer p{
  font-size: 14px;
  margin: 10px;
  text-align: center;
}